$color-white: #ffffff;
$color-black: #000000;
//-----------------------------
$color-grayOne: #f0f0f0;
$color-grayTwo: #e6e6e6;
$color-grayThree: #cccccc;
$color-grayFour: #b4b4b4;
$color-grayFive: #979797;
$color-graySix: #808080;
$color-graySeven: #dbdbdb;
$color-grayEight: #fffafe;
$color-grayNine: #e6dce4;
$color-grayTen: #fffcfc;
$color-grayEleven: #8f8f8f;
$color-grayTwelve: #5c5c5c;
//-----------------------------
$color-blueOne: #4180f6;
$color-blueTwo: #2e32fb;
$color-blueThree: #110038;
$color-blueFour: #4c2f99;
$color-blueFive: #284f99;
$color-blueSix: #3a72db;
$color-blueSeven: #2124b3;
$color-blueEight: #2629cc;
//-----------------------------
$color-pinkOne: #fff4fd;
$color-pinkTwo: #f7c9f3;
$color-pinkThree: #e6bbe2;
$color-pinkFour: #997d97;
$color-pinkFive: #80687d;
$color-pinkSix: #cca6c9;
//-----------------------------
$color-violetOne: #ee3efe;
$color-violetTwo: #ce36db;
$color-violetThree: #a72cb3;
//-----------------------------
$color-redOne: #ff6161;
$color-redTwo: #993a3a;
