@font-face {
	font-family: 'ChakraPetch-Regular';
	src: url(../../assets/fonts/ChakraPetch-Regular.ttf);
}

@font-face {
	font-family: 'ChakraPetch-Bold';
	src: url(../../assets/fonts/ChakraPetch-Bold.ttf);
}
