@media screen and (min-width: 769px) and (max-width: 1440px) {
	@import '../../../utilities/mixin';

	.header {
		@include header;
		@include colorHeaderThemeTwo;

		.wellcome {
			@include wellcome;
			padding-top: 3px;
			padding-bottom: 4px;

			@media screen and (min-width: 769px) and (max-width: 1440px) {
				font-size: 12px;
			}
		}

		@media screen and (min-width: 769px) and (max-width: 1440px) {
			height: 23px;
		}
	}

	.section {
		width: 100%;
		height: 100%;
		background-color: $color-blueThree;

		.logoAndMenu {
			@include logoAndMenu;

			@media screen and (min-width: 769px) and (max-width: 900px) {
				padding: 25px 70px 19px 30px;
			}

			@media screen and (min-width: 901px) and (max-width: 1100px) {
				padding: 25px 100px 19px 60px;
			}

			@media screen and (min-width: 1101px) and (max-width: 1440px) {
				padding: 25px 140px 19px 100px;
			}

			.logo {
				width: 55px;
			}

			.menu {
				@include display-row;
				position: relative;

				.buttonBoxOne {
					@include buttonBoxOne;
					@include buttonBox;
					@include colorButtonBoxThemeTwo;

					&:hover {
						@include buttonHoverAndActiveThemeTwo;
						cursor: pointer;
					}

					&:active {
						@include buttonHoverAndActiveThemeTwo;
					}
				}

				.buttonBoxTwoAndArrow {
					@include buttonBox;
					@include display-row;

					&:hover > .buttonBoxTwo {
						@include buttonHoverAndActiveThemeTwo;
					}

					&:hover > .arrow > img {
						@include buttonHoverAndActiveThemeTwo;
					}

					.buttonBoxTwo {
						@include buttonBoxTwo;
						@include buttonBox;
						@include colorButtonBoxThemeTwo;
					}

					.arrow {
						@include arrow;
						@include arrowColorThemeTwo;

						img {
							@include arrow-img;
						}
					}
				}

				.optionsThemes {
					@include optionsThemes;
					@include optionsColorsThemesThemeTwo;

					@media screen and (min-width: 769px) and (max-width: 1440px) {
						left: 175px;
					}

					li {
						width: 125px;
						@include optionColorsThemeTwo;
						cursor: pointer;

						&:hover {
							@include optionHoverAndActiveThemeTwo;
						}

						&:hover span {
							text-decoration: $color-white underline;
						}

						&:active {
							@include optionHoverAndActiveThemeTwo;
						}

						&:nth-of-type(1) {
							margin-bottom: 10px;
						}

						.text-themes {
							width: 100%;
							padding-top: 7px;
							padding-bottom: 7px;
							margin-left: 10px;
							font-family: 'ChakraPetch-Regular';
							font-size: 16px;
							color: $color-blueThree;
							letter-spacing: 0;
							line-height: 22px;
							text-decoration: none;

							&:hover {
								color: $color-white;
							}
						}
					}
				}

				.buttonNonBox {
					@include buttonNonBoxThemeTwo;

					@media screen and (min-width: 769px) and (max-width: 1440px) {
						font-size: 16px;
						margin-left: 16.5px;
						padding: 8px 5px;
					}

					&:hover {
						border: 1px dashed $color-white;
						outline: none;
						cursor: pointer;
					}

					&:hover > span {
						text-decoration: underline;
					}

					&:active {
						color: $color-white;
						border: 1px dashed transparent;
						outline: none;
					}

					span {
						text-decoration: transparent;
					}
				}
			}
		}

		.container-form {
			width: auto;
			height: auto;
			padding-top: 3px;
			@include optionsColorsThemesThemeTwo; // same colors

			@media screen and (min-width: 769px) and (max-width: 900px) {
				margin: 0 70px 0 30px;
			}

			@media screen and (min-width: 901px) and (max-width: 1100px) {
				margin: 0 100px 0 60px;
			}

			@media screen and (min-width: 1101px) and (max-width: 1440px) {
				margin: 0 140px 0 100px;
			}

			.title-search {
				width: auto;
				@include colorHeaderThemeTwo; // same colors
				font-family: 'ChakraPetch-Bold';
				font-size: 14px;
				color: $color-white;
				letter-spacing: 0;
				padding: 3px 0 3px 6px;
				margin-left: 3px;
				margin-right: 3px;
			}

			form {
				width: auto;
				height: 48px;
				padding: 12px 15px;

				.input-search {
					height: 48px;
					font-size: 16px;
					padding-left: 5px;
					@include colorsInputSearchThemeOne; // same colors

					@media screen and (min-width: 769px) and (max-width: 900px) {
						width: 81%;
					}

					@media screen and (min-width: 901px) and (max-width: 1000px) {
						width: 83%;
					}

					@media screen and (min-width: 1001px) and (max-width: 1200px) {
						width: 85%;
					}

					@media screen and (min-width: 1201px) and (max-width: 1300px) {
						width: 87%;
					}

					@media screen and (min-width: 1301px) and (max-width: 1400px) {
						width: 89%;
					}

					@media screen and (min-width: 1401px) and (max-width: 1440px) {
						width: 90%;
					}
				}

				.button-searchTwo {
					width: 102px;
					height: 36px;
					margin-top: 10px;
					font-size: 16px;
					@include colorsButtonSearchTwoThemeTwo;
					padding: 4px 0;

					&:hover {
						cursor: pointer;
					}

					.glassAndSearch {
						padding: 2px 7px;

						&:active {
							@include colorLoupActiveThemeTwo;
						}
					}
				}
			}

			.hiddenContainerForm {
				width: auto;
				height: 0;
				@include optionsColorsThemesThemeTwo; // same colors
				padding-top: 0;

				.option {
					height: 34px;
					@include colorOptionsHiddenThemeTwo;
					margin-left: 16px;
					margin-bottom: 11px;
					opacity: 0;
					font-family: 'ChakraPetch-Regular';
					font-size: 16px;
					color: $color-blueThree;
					letter-spacing: 0;
					line-height: 22px;
					padding: 6px 15px;
					text-align: start;

					@media screen and (min-width: 769px) and (max-width: 900px) {
						width: 78%;
					}

					@media screen and (min-width: 901px) and (max-width: 1000px) {
						width: 80%;
					}

					@media screen and (min-width: 1001px) and (max-width: 1200px) {
						width: 83%;
					}

					@media screen and (min-width: 1201px) and (max-width: 1300px) {
						width: 85%;
					}

					@media screen and (min-width: 1301px) and (max-width: 1400px) {
						width: 87%;
					}

					@media screen and (min-width: 1401px) and (max-width: 1440px) {
						width: 88%;
					}

					&:hover {
						background-color: $color-grayOne;
					}
				}
			}

			.containerHistoryButtons {
				height: 50px;
				overflow: hidden;
				background-color: $color-blueThree;
			}

			.containerHistory {
				height: 50px;
				overflow: hidden;
				background-color: $color-pinkOne;
			}
		}

		.container-imgsSugestions {
			width: 100%;
			height: auto;

			.container-sugestions {
				width: auto;
				@include colorsContainerSuggestionsThemeTwo;

				@media screen and (min-width: 769px) and (max-width: 900px) {
					margin: 64px 70px 0 30px;
				}

				@media screen and (min-width: 901px) and (max-width: 1100px) {
					margin: 64px 100px 0 60px;
				}

				@media screen and (min-width: 1101px) and (max-width: 1440px) {
					margin: 64px 140px 0 100px;
				}

				.sugestions-text {
					font-size: 14px;
					color: $color-blueThree;
					letter-spacing: 0;
					margin-top: 7px;
					margin-bottom: 7px;
					margin-left: 7px;
				}
			}

			.sugestions-imgs {
				width: auto;
				height: 100%;
				margin-top: 19px;
				display: grid;
				grid-template-rows: auto;
				gap: 24px;

				@media screen and (min-width: 769px) and (max-width: 900px) {
					margin-left: 30px;
					margin-right: 70px;
					grid-template-columns: 48% 48%;
				}

				@media screen and (min-width: 901px) and (max-width: 1000px) {
					margin-left: 60px;
					margin-right: 100px;
					grid-template-columns: 31.1% 31.1% 31.1%;
				}

				@media screen and (min-width: 1001px) and (max-width: 1100px) {
					margin-left: 60px;
					margin-right: 100px;
					grid-template-columns: 31.4% 31.4% 31.4%;
				}

				@media screen and (min-width: 1101px) and (max-width: 1300px) {
					margin-left: 100px;
					margin-right: 140px;
					grid-template-columns: 23% 23% 23% 23%;
				}

				@media screen and (min-width: 1301px) and (max-width: 1440px) {
					margin-left: 100px;
					margin-right: 140px;
					grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
				}

				.container-img {
					background: $color-grayFour;
					box-shadow: inset -2px -2px 0 0 $color-grayTwelve,
						inset 2px 2px 0 0 $color-white;
					padding: 1px 3px;
					position: relative;

					@media screen and (min-width: 1101px) and (max-width: 1300px) {
						width: 240px;
						height: 240px;
					}

					@media screen and (min-width: 1301px) and (max-width: 1440px) {
						width: 280px;
						height: 313px;
					}

					.container-titleCross {
						width: 100%;
						height: auto;
						@include colorHeaderThemeTwo;
						margin-bottom: 2px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;

						.title {
							font-family: 'ChakraPetch-Bold';
							font-size: 14px;
							color: $color-white;
							letter-spacing: 0;
							margin-left: 3px;
						}

						img {
							width: 15px;
							height: 15px;
							margin-right: 5px;
						}
					}

					img {
						@media screen and (min-width: 1101px) and (max-width: 1300px) {
							width: 100%;
							height: 215px;
						}

						@media screen and (min-width: 1301px) and (max-width: 1440px) {
							width: 100%;
							height: 290px;
						}
					}

					.buttonSee {
						position: absolute;
						left: 7px;
						bottom: 15px;
						padding: 8px 10px;
						font-size: 14px;
						letter-spacing: 0;
						text-align: center;
						line-height: 18px;
						color: $color-white;
						@include colorsButtonSeeThemeTwo;

						&:hover {
							background-color: $color-blueEight;
							cursor: pointer;
						}
					}
				}
			}
		}

		.container-images-trends {
			width: 100%;
			height: auto;

			.trends {
				width: auto;
				height: 32px;
				@include colorsContainerSuggestionsThemeTwo; // same colors

				@media screen and (min-width: 769px) and (max-width: 900px) {
					margin: 64px 70px 0 30px;
				}

				@media screen and (min-width: 901px) and (max-width: 1100px) {
					margin: 64px 100px 0 60px;
				}

				@media screen and (min-width: 1101px) and (max-width: 1440px) {
					margin: 64px 140px 0 100px;
				}

				.trends-text {
					font-size: 14px;
					color: $color-blueThree;
					letter-spacing: 0;
					margin-top: 7px;
					margin-bottom: 7px;
					margin-left: 7px;
				}
			}

			.images {
				width: auto;
				height: 100%;
				margin-top: 19px;
				padding-bottom: 50px;

				.allImages {
					margin-left: 100px;
					margin-right: 140px;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					grid-gap: 14px;
					grid-auto-rows: 298px;

					.containerImg {
						width: 100%;
						height: 100%;
						object-fit: cover;
						position: relative;
						cursor: pointer;

						&:nth-of-type(5) {
							grid-column-start: span 2;
						}

						&:nth-of-type(10) {
							grid-column-start: span 2;
						}

						&:nth-of-type(15) {
							grid-column-start: span 2;
						}

						&:nth-of-type(20) {
							grid-column-start: span 2;
						}

						&:hover > p {
							display: block;
						}

						.imgClass {
							width: 100%;
							height: 100%;
							object-fit: cover;

							&:nth-of-type(5) {
								grid-column-start: span 2;
							}

							&:nth-of-type(10) {
								grid-column-start: span 2;
							}

							&:nth-of-type(15) {
								grid-column-start: span 2;
							}

							&:nth-of-type(20) {
								grid-column-start: span 2;
							}
						}

						p {
							@include header;
							@include colorHeaderThemeTwo;
							position: absolute;
							bottom: 0;
							display: none;
							color: $color-white;
							width: 100%;
							object-fit: cover;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
